.add-option-error{
    color: $green-yellow;
    font-style: italic;
    padding: 0 $m-size;
    margin-top: $m-size;
    text-align: center
}

.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option input{
    background: $dark-blue;
    flex-grow: 1;
    border: none;
    border-bottom: 0.3rem solid darken($color: $dark-blue, $amount: 10%);
    margin: 0 0 $s-size 0;
    padding-left: $s-size;
    color: $green-yellow;
}

@media (min-width: $desktop-breakpoint){
    .add-option{
        flex-direction: row;
    }
    .add-option input{
        margin: 0 $s-size 0 0;
    }
}