.header {
    background: $off-black;
    color: white;
    margin-bottom: 4.8rem;
    padding: 1.6rem 0;
    text-align: center;
}

.header__title {
    font-size: 3.2rem;
    margin: 0;
    color: red;
}

.header__subtitle{
    color: $green-yellow;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}