//colors 

$off-black: #20022b;
$green-yellow: greenyellow;
$dark-blue:#333745;
$blue: #3c4251;
$purple: #8357c5;
$light-blue: #464b5e;

//spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;